html,
body {
  height: 100%;
}

.title{
  background: linear-gradient(45deg, rgba(41,93,173,1) 0%, rgba(41,93,173,1) 30%, rgba(92,225,230,1) 30%, rgba(92,225,230,1) 70%, rgba(3,152,158,1) 70%, rgba(3,152,158,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-login {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  color: white;
}
.form-login .checkbox {
  font-weight: 400;
}
.form-login .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
